# node modules
node_modules

# log files
*.log

# build folder
build
.tmp/

# DS STORE
.DS_STORE

# ENV FILES - This file is required for build and deploy. Please get these files from other devs
env.*.sh

# Coverage files
coverage

# Webpack stats file
stats.json
out
junit.xml
reports